.floating-button{
  position: fixed;
  float: right top;
  padding: 20px;
}
.column-layout{
  display: inline-flex;
  flex-direction: column;
}
.bordered{
  border:1px solid #999999;
  max-width: 440px;
  padding: 10px 10px 0 10px;
  margin-top:20px;
}
