<h2>Item</h2>

<button mat-raised-button (click)="checkReady()">
  Refresh
</button>

<div *ngIf="!formReady">
  <mat-list>
    <mat-list-item>
      <mat-icon style="color: #663333" mat-list-icon>warning</mat-icon>
      <h4 style="font-weight:bold" mat-line>No form found.</h4>
      <p mat-line>Uh-oh! Looks like you haven't made a form yet. <a style="color: #669966" routerLink="/form" routerLinkActive="active">Make a form here.</a>
      </p>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="noItemError">
  <mat-list>
    <mat-list-item>
      <mat-icon style="color: #663333" mat-list-icon>warning</mat-icon>
      <h4 style="font-weight:bold" mat-line>No item found.</h4>
      <p mat-line>Uh-oh! Looks like this item was deleted. <a style="color: 669966" routerLink="/item" routerLinkActive="active">Make a new one here.</a> If you believe the item still exists, try refreshing the page.
      </p>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="dataReady && formReady">
  <form class="form" onsubmit="saveItem()">
    <mat-form-field>
      <input matInput name="address" [placeholder]="'Item Reference Name:'" [(ngModel)]="item.address" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-fab title="Item score updates on save">{{ item.score || '?' }}%</button>
    <div *ngFor="let field of item.form.fields">
      <div *ngIf="field.type === 'text' && !field.disabled">
        <p>{{ field.question }}</p>
        <mat-form-field>
          <textarea matInput name="textfield" [placeholder]="field.value" [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="field.type === 'radio' && !field.disabled">
        <p>{{ field.question }}</p>
        <mat-radio-group class="column-layout" name="radiofield" [(ngModel)]="field.value">
          <mat-radio-button *ngFor="let optionR of field.options" [value]="optionR.value">{{ optionR.helperText }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="field.type === 'checkbox' && !field.disabled">
        <p>{{ field.question }}</p>
        <div class="column-layout">
          <mat-checkbox *ngFor="let optionC of field.options" name="checkboxfield" [(ngModel)]="optionC.value" [ngModelOptions]="{standalone: true}">{{
            optionC.helperText }}</mat-checkbox>
        </div>
      </div>
      <div *ngIf="field.type === 'switch' && !field.disabled">
        <p>{{ field.question }}</p>
        <mat-slide-toggle name="switchfield" [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
      </div>
      <div *ngIf="field.type === 'select' && !field.disabled">
        <p>{{ field.question }}</p>
        <mat-form-field>
          <mat-select placeholder="Click to select..." name="selectfield" [(value)]="field.value">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{ option.helperText }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <br />
  <button mat-raised-button routerLink="/leaderboard" routerLinkActive="active">
    Cancel
  </button>
  <button *ngIf="!firstSave" mat-raised-button color="warning" (click)="deleteItem()">
    Delete
  </button>
  <button mat-raised-button (click)="calcScore(item.form.fields)">
    Calculate score
  </button>
  <button *ngIf="firstSave" mat-raised-button color="primary" (click)="newItem()">
    Add Item
  </button>
  <button *ngIf="!firstSave" mat-raised-button color="primary" (click)="saveItem()">
    Save Changes
  </button>
</div>
