<h2>Item</h2>

<div *ngIf="!dataReady">
  <app-ui-loader [visible]="true"></app-ui-loader>
</div>

<div *ngIf="dataReady">
  <form class="form" onsubmit="saveItem()">
    <mat-form-field>
      <input matInput [placeholder]="'Address:'" value="item.address">
    </mat-form-field>
    <button mat-fab>{{ item.score || '0' }}%</button>
    <div *ngFor="let field of item.form.fields">
      <div *ngIf="field.type === 'text' && field.enabled">
        <p>{{ field.question }}</p>
        <mat-form-field>
          <input matInput [placeholder]="field.value" value="field.value">
        </mat-form-field>
      </div>
      <div *ngIf="field.type === 'radio' && field.enabled">
        <p>{{ field.question }}</p>
        <mat-radio-group *ngFor="let optionR of field.options" class="column-layout">
          <mat-radio-button [value]="optionR.value" (onclick)="field.value = optionR.value">{{ optionR.helperText }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="field.type === 'checkbox' && field.enabled">
        <p>{{ field.question }}</p>
        <div *ngFor="let optionC of field.options" class="column-layout">
          <mat-checkbox [value]="optionC.value" (onclick)="field.value = optionC.value">{{ optionC.helperText }}</mat-checkbox>
        </div>
      </div>
      <div *ngIf="field.type === 'switch' && field.enabled">
        <p>{{ field.question }}</p>
        <mat-slide-toggle (ngModel)="field.value"></mat-slide-toggle>
      </div>
    </div>
  </form>
  <br />
  <button mat-raised-button color="warning" (click)="deleteItem()">
    Delete
  </button>
  <button mat-raised-button color="primary" (click)="saveItem()">
    Save Changes
  </button>
  <button mat-raised-button>
    Cancel
  </button>
</div>
