.floating-button{
  text-align: right;
  padding: 20px;
}
.column-layout{
  display: inline-flex;
  flex-direction: column;
}
.formTable{
  width: 100%;
}
.formIconColumn{
  width:30px;
}
.green{
  background-color: #008171 !important;
}
.lightgreen{
  background-color: #94b777 !important;
}
