.floating-button{
  text-align: right;
  padding: 20px;
  position: absolute;
  margin-top: -85px;
  margin-left: 200px;
}
.column-layout{
  display: inline-flex;
  flex-direction: column;
}
.formTable{
  width: 100%;
}
.formIconColumn{
  width:30px;
}
.green{
  background-color: #008171 !important;
}
.lightgreen{
  background-color: #94b777 !important;
}
.greytext{
  color:#5e5e5e
}
.mat-icon{
  cursor:pointer;
}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent{
  background-color: #ffffff !important;
}
.mat-dialog-content{
  max-height: 25vh;
  overflow-y: scroll;
}
.mat-dialog-actions .mat-button+.mat-button{
  border: 1px solid #673ab7;
}
