<div *ngIf="firstVisit" style="text-align:center">
  <button mat-raised-button color="primary" (click)="makeBlankForm(formID)">
    Create a form
  </button>
  or
  <button mat-raised-button color="primary" (click)="toggle('showFormIDField')">
    Load a form
  </button>
  <br />
  <div *ngIf="showFormIDField" style="text-align:center">
    <form class="form" onsubmit="updateFormID(formID)">
      <mat-form-field>
        <input matInput placeholder="Form ID" value="formID">
      </mat-form-field>
    </form>
  </div>
</div>

<div *ngIf="!firstVisit" style="text-align:center">
  <div *ngIf="dataReady">
    <div class="floating-button">
      <button mat-fab>
        <!-- Launches add field modal -->
        <mat-icon aria-label="Add Field">add</mat-icon>
      </button>
    </div>
    <!-- Form options displayed and editable -->
    <form class="form" onsubmit="updateFormID(formID)">
      <div *ngFor="let field of fields">
        <button mat-fab>
          <!-- Launches add/edit field modal -->
          <mat-icon aria-label="Add Field">edit</mat-icon>
        </button>
        <h4>
          <mat-icon aria-label="Field Type" aria-hidden="true" [svgIcon]="getTypeIcon(field.type)"></mat-icon>
          {{ field.question }}
        </h4>
        <br />
      </div>
    </form>
  </div>
  <div *ngIf="!dataReady">
    <app-ui-loader [visible]="true"></app-ui-loader>
  </div>
  <br />
  <button mat-raised-button color="primary" (click)="saveForm(formID)">
    Save Changes
  </button>
  <button mat-raised-button>
    Cancel
  </button>
  <br />
  <button mat-raised-button color="warn" (click)="makeBlankForm(formID)">
    Start Over (Blank Form)
  </button>
</div>
