<h2>Form</h2>

<div *ngIf="firstVisit">
  <button mat-raised-button color="primary" (click)="makeBlankForm()">
    Create a form
  </button>
  or
  <button mat-raised-button (click)="toggle()">
    Load a form
  </button>
  <div *ngIf="showFormIDField">
      <br />
      <br />
    <mat-form-field>
        <input matInput placeholder="Form ID" [(ngModel)]="formID">
      </mat-form-field>
    <button mat-raised-button (click)="updateFormID(formID)">Fetch form</button>
  </div>
</div>

<div *ngIf="!firstVisit">
  <div *ngIf="dataReady">
    <div class="floating-button">
      <button mat-fab>
        <!-- Launches add field modal -->
        <mat-icon aria-label="Add Field">add</mat-icon>
      </button>
    </div>
    <!-- Form options displayed and editable -->
    <form *ngIf="form[0].fields" class="form" onsubmit="updateFormID(formID)">
      <div *ngFor="let field of form[0].fields">
        <button mat-fab>
          <!-- Launches add/edit field modal -->
          <mat-icon aria-label="Add Field">edit</mat-icon>
        </button>
        <h4>
          <mat-icon aria-label="Field Type" aria-hidden="true" [svgIcon]="getTypeIcon(field.type)"></mat-icon>
          {{ field.question }}
        </h4>
        <br />
      </div>
    </form>
  </div>
  <div *ngIf="!dataReady">
    <app-ui-loader [visible]="true"></app-ui-loader>
  </div>
  <br />
  <button mat-raised-button color="primary" (click)="saveForm(formID)">
    Save Changes
  </button>
  <button mat-raised-button>
    Cancel
  </button>
  <br />
  <button mat-raised-button color="warn" (click)="makeBlankForm()">
    Start Over (Blank Form)
  </button>
</div>
