<h2>Form</h2>

<div *ngIf="firstVisit">
  <button mat-raised-button color="primary" class="green" (click)="makeBlankForm()">
    Create a form
  </button>,
  <br/>
  <br/>
  <button mat-raised-button (click)="toggle2()">
    Create a form by keyword
  </button>,
  <br/>
  <br/> or
  <button mat-raised-button color="primary" class="lightgreen" (click)="toggle1()">
    Load a form
  </button>
  <br />
  <br />
  <div *ngIf="showFormIDField">
    <form class="form" [formGroup]="formIDform">
      <mat-form-field style="margin-right: 20px;">
        <app-ui-input label="Form ID" placeholder="Enter an ID here" [control]="formIDform.get('id')"></app-ui-input>
      </mat-form-field>
      <button mat-raised-button (click)="updateFormID()">Fetch form</button>
      <br />
      <p style="font-size: 12px;line-height: 1.4em;">This field defaults to your profile ID if left blank.</p>
    </form>
  </div>
  <div *ngIf="showSpecificFormField">
    <form class="form" [formGroup]="specificForm">
      <mat-form-field style="margin-right: 20px;">
        <app-ui-input label="Form ID" placeholder="Enter an ID here" [control]="specificForm.get('id')"></app-ui-input>
      </mat-form-field>
      <button mat-raised-button (click)="makeSpecificForm()">Create form</button>
      <br />
      <p style="font-size: 12px;line-height: 1.4em;">This field defaults to your profile ID if left blank.</p>
    </form>
  </div>
</div>

<div *ngIf="!firstVisit">
  <div *ngIf="dataReady">
    <div class="floating-button">
      <button mat-fab (click)="openDialog(newField,9,true)">
        <!-- Displays add field form -->
        <mat-icon aria-label="Add Field" title="Add Field">add</mat-icon>
      </button>
    </div>
    <!-- Form fields displayed as list-->
    <table *ngIf="(form | async)?.fields" class="formTable">
      <div *ngFor="let field of (form | async)?.fields; index as i">
        <tr>
          <td class="formIconColumn">
            <mat-icon aria-label="Delete" aria-hidden="true" (click)="removeField(i)">trash</mat-icon>
          </td>
          <td class="formIconColumn">
            <mat-icon aria-label="Field Type" aria-hidden="true" [svgIcon]="getTypeIcon(field.type)"></mat-icon>
          </td>
          <td>{{ field.question }}</td>
          <td class="formIconColumn">
            <mat-icon aria-label="Edit" aria-hidden="true" (click)="openDialog(field,i,false)">
              edit</mat-icon>
          </td>
        </tr>
      </div>
    </table>
  </div>
  <div *ngIf="!dataReady">
    <app-ui-loader [visible]="true"></app-ui-loader>
  </div>
  <br />
  <button mat-raised-button color="primary" (click)="saveForm()">
    Save Changes
  </button>
  <button mat-raised-button>
    Cancel
  </button>
  <br /><br />
  <button mat-raised-button color="warn" (click)="makeBlankForm()">
    Start Over (Blank Form)
  </button>
</div>
