h1, h2, h3, h4, p, td, li{
  font-family: Arial;
}
.main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.mobile-container{
  padding:15px;
}
h4{
  -webkit-margin-before: 0;
}
h1{
  font-size:60;
}
::ng-deep
.mat-line, .mat-list-text{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
.mat-radio-label-content, .mat-checkbox-label{
  white-space: normal !important;
}
