ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

.logo{
  width:40px;
}
.logobox{
  background-color:transparent !important;
  padding: 6px 18px !important;
  position: absolute;
  top: 0;
}
.title{
  font-size:22px;
  color: #000000;
  margin-left: 10px;
  vertical-align: 10px;
  text-decoration: none !important;
}
@media screen and (max-width:680px) {
  .title{
    display:none;
  }
}
@media screen and (min-width:680px) {
  .title{
    display:inline-block;
  }
}
a:-webkit-any-link {
  text-decoration: none !important;
}

ul.topnav li a:hover {background-color: #99cc66;}
ul.topnav li a.active {background-color: #99cc66;}
ul.topnav li.icon {display: none;}
