<div class="logobox"><a routerLink="/" routerLinkActive="active" title="Home">
      <img src="./assets/logo.png" alt="Logo" class="logo" />
      <div class="title">Objective Assessor</div>
    </a></div>
  <ul class="topnav" #topnav>
  <li *ngIf="auth.isAuthenticated()">
    <a routerLink="/leaderboard" routerLinkActive="active" title="Leaderboard">
      <mat-icon style="color:black">reorder</mat-icon>
    </a>
  </li>
  <li *ngIf="auth.isAuthenticated()">
    <a routerLink="/item" routerLinkActive="active" title="New Item">
      <mat-icon style="color:black">add</mat-icon>
    </a>
  </li>
  <li *ngIf="auth.isAuthenticated()">
    <a routerLink="/form" routerLinkActive="active" title="Form">
      <mat-icon style="color:black">settings</mat-icon>
    </a>
  </li>
  <li *ngIf="!auth.isAuthenticated()">
    <a class="btn btn-primary btn-margin" (click)="auth.login()">Login</a>
  </li>
  <li *ngIf="auth.isAuthenticated()" style="margin: 4px 0;">
    <a class="btn btn-primary btn-margin" (click)="auth.logout()">
      Logout</a>
  </li>
  <li class="icon" *ngIf="auth.isAuthenticated()">
    <a (click)="toggle()">&#9776;</a>
  </li>
</ul>
