<h1 mat-dialog-title>Add/Edit Field</h1>
<div mat-dialog-content>
  <form class="form-horizontal">
    <mat-form-field>
      <h4>Question</h4>
      <input matInput type="text" [(ngModel)]="question" name="question">
      <mat-hint align="start">What do you want to measure?</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <h4>Field Type</h4>
      <mat-select [(ngModel)]="type" name="type">
        <mat-option *ngFor="let t of types" [(value)]="t.value">
          {{ t.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <h4>Order</h4>
      <input matInput type="number" [(ngModel)]="order" name="order">
      <mat-hint align="start">The order each field appears in, sorted in ascending order. (0 means it will be shown first)</mat-hint>
    </mat-form-field>

    <div *ngIf="needsOptions()">
      <h4>Options</h4>
      <div *ngIf="options">
        <div *ngFor="let option of options; index as i">
          <p>Option {{i}}:
            <br />Display Name: {{ option.helperText }}
            <br />Value: {{ option.value }}
          </p>
          <button type="button" mat-button (click)="removeOption(i)">Delete</button>
        </div>
      </div>
      <div *ngIf="addAnOption">
        <form class="form-horizontal" style="border:1px solid grey; padding:20px;">
          <mat-form-field>
            <h4>Display Name</h4>
            <input matInput type="text" [(ngModel)]="optionsHelperText" name="helperText">
            <mat-hint align="start">Text to show for this option</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <h4>Value</h4>
            <input matInput type="number" [(ngModel)]="optionsValue" name="optionValue">
            <mat-hint align="start">Value of this option (number for radio and dropdowns, for checkboxes 0=unchecked 1=checked)</mat-hint>
          </mat-form-field>
          <br />
          <br />
          <button type="button" mat-button (click)="toggleAddAnOption()">Cancel</button>
          <button type="button" mat-button color="primary" (click)="addOption()" cdkFocusInitial>Save</button>
        </form>
      </div>
      <button type="button" mat-button color="primary" (click)="toggleAddAnOption()">Add an option</button>
    </div>

    <mat-form-field>
      <h4>Maximum Value</h4>
      <input matInput type="number" [(ngModel)]="maxValue" name="maxValue">
      <mat-hint align="start">What's the highest possible score for this field?</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <h4>Default Value</h4>
      <input matInput type="number" [(ngModel)]="value" name="value">
      <mat-hint align="start">What's the default value for this field?</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <h4>Multiplier</h4>
      <input matInput type="number" [(ngModel)]="multiplier" name="multiplier">
      <mat-hint align="start">How important is this? (Field score is multiplied by this number)</mat-hint>
    </mat-form-field>
    <h4>Disable this field?</h4>
    <mat-slide-toggle [(ngModel)]="disabled" name="disabled"></mat-slide-toggle>
    <mat-hint align="start">
      <br />By default, fields are enabled. Disabled fields are not scored.</mat-hint>
  </form>

  <p>Please note: you must still save the form after saving the field.</p>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button (click)="onNoClick()">Cancel</button>
  <button type="button" mat-button color="primary" (click)="save()" [mat-dialog-close]="data" cdkFocusInitial>Save Changes</button>
</div>
