a {
  cursor: pointer;
  color:green;
}
.padded{
  padding:40px;
}
.background-block{
  position: absolute;
  top: 0;
  right: 0;
  height: 450px;
  width: 100%;
  z-index: -1;
}
.calm{
  background: lightblue; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom, white, lightblue, white);
}
.green{
  top: 450px;
  background: lightblue; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom, lightblue, #b2f3eb, lightblue);
}
