a {
  cursor: pointer;
  color:#669966;
}
.padded{
  padding:40px;
}
.green{
  position: absolute;
  top: 460px;
  left: 0px;
  right:0px;
  width: 100%;
  z-index: -1;
  background: #99cc66; /* For browsers that do not support gradients
  background: linear-gradient(to bottom, #99CC66, #669966, #99CC66); */
}
@media screen and (max-width:680px) {
  .green{
    height: 220px;
  }
}
@media screen and (min-width:680px) {
  .green{
    height: 150px;
  }
}
.use-case-imgs{
  display: inline-block;
  text-align:center;
  margin-top:60px;
}
.use-case-imgs img{
  width: 80%;
  max-width: 280px;
  height: auto;
  border: solid 10px #669966;
  border-radius: 7px;
  margin: 10px;
}

