<div class="padded">
  <div *ngIf="!auth.isAuthenticated()">
    <div class="background-block"></div>
    <div style="max-width:400px; min-height: 400px">
      <h1>Tough decision?</h1>
      <h3 style="color:#5a5a5a">Objective assessor compares and scores options - so you don't have to!</h3>
      <p>Utilize weighted scoring systems, toggle values on the fly, and see your best options at a glance; anytime, anywhere,
        on any device. </p>
      <h3 style="color: #669966; cursor:pointer" (click)="auth.login()">Get Started</h3>
    </div>
    <div class="background-block green"></div>
    <div style="min-height: 400px; text-align: right">
      <h1>Explore Use Cases</h1>
      <p>See screenshots of what Objective Assessor looks like in action.
        <br />
        <br />
      </p>
      <gallery [items]="images"></gallery>
    </div>
    <p style="text-align: right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSej2dSOsA2gMeI4V7Uf27ViJhYwCiZGb-Zc-cj1JVxBS7c8VA/viewform?usp=sf_link" target="_blank">Report a Bug</a> | Objective Assessor is MIT-licensed. Built by <a href="https://github.com/cloette" target="_blank">Cloette</a>. Last updated 8.20.2018.</p>
  </div>
  <div *ngIf="auth.isAuthenticated()">
    <h1>
      Thanks for logging in!</h1>
    <p>This is an early release of the project, and may have bugs. If reloading doesn't solve the problem, please email support.</p>
    <h4>Get started by
      <a style="color: #669966" routerLink="/form" routerLinkActive="active">creating a form</a>.
    </h4>
  </div>
</div>
