.footer-wrapper{
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f8f8f8;
  z-index:5;
  padding: 0 16px;
}
.footer-wrapper a{
  cursor: pointer;
  color: #669966;
}
.footer-space{
  padding: 0 16px;
}
.footer-space p{
  color:#f8f8f8;
}
